.slide {
  display: flex !important;
  justify-content: center !important;
  padding: 100px 0px !important;
  
  .container {
    width: 1400px !important;
    position: relative !important;
  }

  .carousel-initialized {
    position: static !important;
  }

  .carousel-prev,
  .carousel-next {
    width: 50px !important;
    height: 50px !important;
    background-color: rgb(243, 243, 243) !important;
    border-radius: 50% !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
  }

  .carousel-prev {
    left: -25px !important;
  }
}
